body {
  margin: 0px;
}

/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  color: #ccc;
}

header h1 {
  margin-bottom: 10px;
}

header form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header input[type="search"] {
  width: 70%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px 0 0 5px;
}

header button[type="submit"] {
  width: 30%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

header button[type="submit"]:hover {
  background-color: #444;
}
